.bgGray {
  @include light {
    background: var(--mantine-color-gray-2);
    // background: white;
  }

  @include dark {
    background: var(--mantine-color-dark);
  }

  background: black;
  height: 100vh;
  overflow-y: auto;
}

.tab {
  // position: relative;
  // border-color: transparent;
  border-color: white;

  // border-bottom-width: 1px;
  @mixin hover {
    // background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-5));
  }

  &[data-active] {
    // z-index: 1;
    // background-color: var(--mantine-color-blue-filled);
    border-color: orange;
    // color: var(--mantine-color-white);

    @mixin hover {
      // background-color: var(--mantine-color-blue-filled-hover);
      border-color: white;
    }
  }

  @mixin hover {
    // background-color: var(--mantine-color-blue-filled-hover);
    border-color: white;
  }
}

.boxSticky {
  @include dark {
    background: black;
  }

  @include light {
    background: white;
  }
}

.card {
  cursor: pointer;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.05);
  width: 100%;

  &:hover {
    box-shadow: 0 0 32px rgba(247, 166, 0, 0.3);
  }
}

.bgGradient {
  background: linear-gradient(
    127deg,
    rgba(255, 228, 124, 0.1) 0.93%,
    rgba(255, 192, 64, 0.1) 85.1%
  );
}
