.panel-tooltip-chart {
  padding: 10px;
}
.item-tooltip-date {
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  padding-bottom: 5px;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: bold;
}
.item-tooltip {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
  .item-tooltip-label {
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 10;
    .item-tooltip-label-box {
      width: 6px;
      height: 6px;
      display: block;
      border-radius: 100%;
      margin-right: 5px;
    }
  }
  .item-tooltip-value {
    font-size: 12px;
  }
}
.text-green {
  color: green;
}
.text-red {
  color: red;
}
