.cursor-pointer {
  cursor: pointer;
}

.box-scroll {
  /* width */
}
.box-scroll::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
.box-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
.box-scroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
.box-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.text-border-middle {
  position: relative;
  & > * {
    position: relative;
    z-index: 1;
  }
  &::before {
    content: "";
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 1px;
    background: #25282c;
    background: light-dark(#b4b6bc, #25282c);
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 0;
  }
}

.badge-bg {
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba($color: white, $alpha: 0.2);
  color: light-dark("black", "white");
  font-weight: bolder;
  text-align: center;
  border-radius: 100%;
  font-size: 14px;
}

.relative {
  position: relative;
}
.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.border-bottom-dark {
  background: light-dark(
    var(--mantine-color-gray-2),
    var(--mantine-color-dark-5)
  );
}

.react-pdf__Document {
  border: solid 1px red;
  height: 100%;
}

.pdf-container {
  padding: 0; /* Điều chỉnh padding theo nhu cầu */
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
}

.pdf-container canvas {
  display: block; /* Đảm bảo canvas không bị khoảng cách ngoài */
  margin: 0 auto;
}

/* Container to apply perspective */
.rotate-container {
  perspective: 1000px;
  position: relative;
}

/* Styles for the rotating image */
.rotate-image {
  transform: rotateY(-55deg) rotateX(10deg);
  transform-style: preserve-3d;
}

.rotate-image-opz {
  transform: rotateY(55deg) rotateX(10deg);
  transform-style: preserve-3d;
}
