.app-modal--title {
  &.mantine-Modal-title {
    font-weight: 600;
    font-size: 20px;
    @include dark {
      color: white;
    }
  }
}
.app-modal--body {
  &.mantine-Modal-body {
    @include dark {
      background: #16171a;
    }
  }
}
.app-modal--content {
  &.mantine-Modal-content {
    @include dark {
      background: #16171a;
    }
  }
}
.app-modal--close {
  &.mantine-Modal-close {
  }
}
.app-modal--header {
  &.mantine-Modal-header {
    @include dark {
      background: #16171a;
    }
  }
}
.app-modal--inner {
  &.mantine-Modal-inner {
  }
}
.app-modal--overlay {
  &.mantine-Modal-overlay {
  }
}
.app-modal--root {
  &.mantine-Modal-root {
    @include dark {
      background: #16171a;
    }
  }
}
