.table-root {
  // display: table;
  width: 100%;
  // border-collapse: collapse;

  .table-header {
    // display: table-header-group;
    font-weight: bold;
  }

  .table-body {
    // display: table-row-group;
    .table-cell {
      padding: 0.5px;
      cursor: pointer;
    }
    .table-row-default.table-row:has(~ [aria-expanded="true"]) {
      .table-cell {
        &::before {
          background: light-dark(
            rgba(0, 0, 0, 0.06),
            rgba(255, 255, 255, 0.1)
          );
        }
      }
    }

    .table-row-reverse.table-row {
      .table-cell {
        border-top: dashed 1px transparent;
      }
      &[aria-expanded="true"] ~ .table-row {
        .table-cell {
          &::before {
            background: light-dark(
              rgba(0, 0, 0, 0.06),
              rgba(255, 255, 255, 0.1)
            );
          }
        }
      }
      &[aria-expanded="true"] {
        .table-cell {
          border-top: dashed 1px light-dark(black, white);
          &::before {
            background: light-dark(
              rgba(0, 0, 0, 0.06),
              rgba(255, 255, 255, 0.1)
            );
          }
        }
      }
    }

    .table-row {
      height: 24px;
      .table-cell {
        position: relative;
        &::before {
          content: "";
          width: 100%;
          height: 100%;
          z-index: 3;
          top: 0;
          left: 0;
          position: absolute;
          pointer-events: none;
        }
      }
      &.table-row-default {
        .table-cell {
          border-top: dashed 1px transparent;
          border-bottom: dashed 1px transparent;
        }
        &:hover {
          .table-cell {
            border-bottom-color: light-dark(black, white);
            &::before {
              background: light-dark(
                rgba(0, 0, 0, 0.06),
                rgba(255, 255, 255, 0.1)
              );
            }
          }
        }
      }
    }
  }

  &.newData {
    .progress_bar {
      &.progress_bar--static {
        opacity: 1;
      }
    }
  }
  .progress_bar {
    &.progress_bar--static {
      opacity: 0;
      // transition: opacity 0.25s ease-in-out;
      // @include generate-transitions(20);
      // [100, 300, 600, 400, 1000, 1200, 2000]
      &[aria-level="100"] {
        transition: 0.1s ease-in-out;
      }
      &[aria-level="300"] {
        transition: 0.3s ease-in-out;
      }
      &[aria-level="600"] {
        transition: 0.6s ease-in-out;
      }
      &[aria-level="400"] {
        transition: 0.4s ease-in-out;
      }
      &[aria-level="1000"] {
        transition: 1s ease-in-out;
      }
      &[aria-level="1200"] {
        transition: 1.2s ease-in-out;
      }
      &[aria-level="2000"] {
        transition: 2s ease-in-out;
      }

      &.isUp {
        background: light-dark(#e7f6ed, #162a24);
      }
      &.isDown {
        background: light-dark(#feeaea, #35191d);
      }
    }
  }
}

.table-row {
  // display: table-row;
  width: 100%;
  overflow: hidden;
}

.table-cell {
  // display: table-cell;
  // vertical-align: middle;
  overflow: hidden;
  & > * {
    max-width: 100%;
    overflow: hidden;
  }
  .row-item-head--text {
    padding-left: 5px;
  }
}

.row-item-head--text {
  font-size: 12px;
}

.cell-text {
  font-size: 14px;
  padding: 0px 5px;
  @include dark {
    color: white;
  }
  @include light {
    color: white;
  }
  &.long {
    color: #20b26c;
  }
  &.short {
    color: #a45558;
  }
}

.progress_bar_text {
  position: relative;
  z-index: 1;
}
