.tabsCopyTradeDetail {
  .tab-item-1 {
    // border: solid 1px red;
    // border: none;
    // border-width: 1px;
  }

  .tab-item-2 {
    // border: solid 1px blue;
    // border-bottom-width: 1px;
    &::before {
      border-width: 0.5px;
      border-color: #f3f5f7;
    }
  }

  .tab-item-3 {
    // border: solid 1px yellow;
  }

  .tab-item-4 {
    // border: solid 1px black;
  }

  .tab-item-5 {
    // border: solid 1px orange;
    font-size: 18px;
    font-weight: bold;
  }

  .tab-item-6 {
    border: solid 1px pink;
  }
}

.mantine-Tabs-root {
  &.tabBorderSmall {
    .mantine-Tabs-list {
      // border: solid 1px blue;
      &::before {
        border-width: 0.5px;
        // border-color: #f3f5f7;
      }
    }
    .mantine-Tabs-tab {
      font-size: 16px;
      font-weight: 500;
      &:not([aria-selected="true"]) {
        // opacity: 0.4;
        // font-weight: 100;
        color: gray;
      }
    }
  }
  &.WithSmallOnMenu {
    // border: solid 1px red;
    .mantine-Tabs-list {
      // border: solid 1px blue;
      &::before {
        border-width: 0.5px;
        // border-color: #f3f5f7;
      }
    }

    .mantine-Tabs-list {
      // border: solid 1px yellow;
      gap: 10px;
    }

    .mantine-Tabs-tab {
      // border: solid 1px orange;
      padding-inline: 10px;
      font-weight: bold;
      font-size: 12px;
      padding-inline: 0px;
    }
  }

  &.WithMediumNoBorder {
    // border: solid 1px red;
    height: 100%;
    display: flex;
    flex-direction: column;
    .tabs-header {
      // border: solid 1px red;
      // background: #16171a;
      background: light-dark(#ffffff, #16171a);
      height: 40px;
      padding: 0px 12px;
    }

    .mantine-Tabs-list {
      // border: solid 1px blue;
      gap: 20px;

      &::before {
        border-width: 0.5px;
        // border-color: #f3f5f7;
        border-color: transparent;
      }
    }

    .mantine-Tabs-list {
      // border: solid 1px yellow;
    }

    .mantine-Tabs-tab {
      // border: solid 1px orange;
      font-weight: bold;
      font-size: 14px;
      padding-inline: 0px;
    }
    .mantine-Tabs-panel {
      // border: solid 1px blue;
      overflow: hidden;
    }
    &.noBg {
      .mantine-Tabs-root {
        background: none;
      }
      .tabs-header {
        background: none;
        // padding: 0;
      }
    }
  }
}
