.appText {
  @include light {
  }

  @include dark {
  }
}
.mantine-Text-root {
  &.WithSize14Gray {
    font-size: 14px;
    @include light {
      color: #71757a;
    }

    @include dark {
      color: #71757a;
    }
  }
  &.WidthTooltipGray {
    font-size: 14px;
    @include light {
      color: #71757a;
    }

    @include dark {
      // color: #71757a;
    }
  }
  &.WithTextTooltip {
    font-size: 12px;
    @include light {
      color: #71757a;
    }

    @include dark {
    }
  }

  &.withPriceLong {
    font-size: 18;
    font-weight: 600;
  }

  &.textWithCopy {
    font-weight: 600;
    font-size: 36px;
    color: transparent;
    line-height: 42px;
    background: linear-gradient(97.12deg, #ffd748 0.93%, #f7a600);
    -webkit-background-clip: text;
    background-clip: text;
  }

  &.WithTokenIcon {
    // color: white;
    font-weight: bold;
    font-size: 16px;
  }
  &.WidthHoverMainColor {
    font-size: 10px;
    @include hover {
      color: var(--mantine-color-primary-5);
    }
  }
  &.WithTextSubtitle {
    font-size: 12px;
    white-space: nowrap;
  }
  &.WithTheadInMenu {
    font-weight: bold;
    font-size: 12px;
  }
  &.WithCellTokenInMenu {
    font-weight: bold;
    font-size: 12px;
  }
  &.withPriceTextStatus {
    font-size: 12px;
    color: #71757a;
    white-space: nowrap;
  }
  &.textMainHover {
    font-size: 12px;
    &:hover {
      color: var(--mantine-color-primary-5);
    }
  }
  &.text-price-modal {
    color: light-dark(var(black), var(white));
    font-weight: bolder;
    font-size: 14px;
  }
  &.text-hint {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    @include dark {
      color: #71757a;
    }
  }
}

.text-label-alert {
  font-size: 12px;
  font-weight: 500;
  @include dark {
    color: #adb1b8;
  }
}
