// Hàm để tạo ra map với các giá trị âm
@function negativify-map($map) {
  $negative-map: ();
  @each $key, $value in $map {
    $negative-map: map-merge(
      $negative-map,
      (
        $key: -$value,
      )
    );
  }
  @return $negative-map;
}

@function rem($value) {
  @return #{math.div(math.div($value, $value * 0 + 1), 16)}rem;
}
