// Variables

// Define variables for your breakpoints,
// values must be the same as in your theme
$mantine-breakpoint-xs: "0em"; // 0px
$mantine-breakpoint-sm: "48em"; // 768px
$mantine-breakpoint-md: "62em"; // 992px
$mantine-breakpoint-lg: "75em"; // 1200px
$mantine-breakpoint-xl: "88em"; // 1408px

.rowItem {
  &:not(:last-child) {
    margin-bottom: rem(20px);
  }
  position: relative;
}
.sticky-top {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
}

html {
  overflow-x: hidden;
}
