.banner {
  background: #000000;
  .banner--box {
    flex-direction: column;
    @media (min-width: $mantine-breakpoint-sm) {
      flex-direction: row;
    }
  }
}

.card_ipad {
  // border: solid 1px blue;
  @media (min-width: $mantine-breakpoint-md) and (max-width: $mantine-breakpoint-lg) {
    transform: translateX(-80px);
  }

  .rotate-container {
    // border: solid 1px red;
    &.ipad1 {
      @media (min-width: $mantine-breakpoint-md) {
        transform: translateX(170px);
      }
    }
    &.ipad2 {
      @media (min-width: $mantine-breakpoint-md) {
        transform: translateX(-40px);
      }
    }
  }
}
